{#
 # About template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% set _nav_page = 'about' %}

{% block main %}
	<div class="about_hero section no-flex">
		
		<img src="./static/images/inkblots/IB_header_right.png" class="inkblot about-hero-inkblot right">
		<img src="./static/images/inkblots/IB_footer.png" class="inkblot about-hero-inkblot bottom">

		<h3 class="mobile-pad">About Dr. Kris</h3>

		<div class="flex-row">
			<div class="image-container">
				<div class="img insert-background has-bot-banner flush" image-url="./static/images/drkris/{{ craft.entries.section('aboutPage')[0].bioImage[0].getPath() }}"></div>
			</div>

			<div class="hero_bio mobile-pad">
				<h3 class="tagline">{{ craft.entries.section('landingPage')[0].tagline }}</h3>
				<p class="body">{{ craft.entries.section('aboutPage')[0].bio|nl2br|raw }}</p>

				<div class="cv-section">
					<a class="speaker-packet-link" href="./uploads/resources/{{ craft.entries.section('aboutPage')[0].speakerPacket[0].getPath() }}" download>
						<button class="float_ad button primary">Download Professional Bio and Speaker's Packet</button>
					</a>
					<a class="cv-link" href="./uploads/resources/{{ craft.entries.section('aboutPage')[0].cv[0].getPath() }}" download>
						<button class="float_ad button primary">Download CV and Shadow CV</button>
					</a>
				</div>
			</div>
		</div>

	</div>
	
	<div class="timeline_section section">

		<img src="./static/images/inkblots/IB_events_3.png" class="inkblot about-timeline-inkblot top">

		<h3 class="mobile-pad">The Story</h3>
		
		<div class="timeline_container mobile-pad">

			{% for event in craft.entries.section('timelineEvents').order('eventDate asc') %}
				<div class="timeline_block">
					<span class="date">{{ event.eventDate.year }}</span>
					<div class="content">
						<div class="text">
							<p class="title">{{ event.title }}</p>
							<p class="description">{{ event.eventInfo }}</p>
						</div>
						{% if event.eventImage|length %}
							<div class="asset insert-background" image-url="./static/images/timeline/{{ event.eventImage[0].getPath() }}"></div>
						{% else %}
							<div class="asset"></div>
						{% endif %}
					</div>
				</div>
			{% endfor %}

		</div>

	</div>

	<div class="client_section section no-flex">

		<img src="./static/images/inkblots/IB_footer.png" class="inkblot about-clients-inkblot top">
		<img src="./static/images/inkblots/IB_footer.png" class="inkblot about-clients-inkblot bottom">

		<h3 class="mobile-pad">Clients</h3>

		<div class="client_carousel">
			<div class="offset_container">
				{% for client in craft.entries.section('clientList').order('postDate asc') %}
				<div class="client_item">
					<img class="client-logo" src="./static/images/clients/{{ client.clientLogo[0].getPath() }}">
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<div class="team_section section no-flex">

		<img src="./static/images/inkblots/IB_footer.png" class="inkblot landing-resources-inkblot bottom">

		<h3 class="mobile-pad">Meet the Team</h3>

		<div class="meet-team-container mobile-pad">
			{% for member in craft.entries.section('meetTheTeam').order('postDate asc') %}
				<div class="member-block">
					<div class="image insert-background" image-url="./static/images/meet-team/{{ member.memberProfileImage[0].getPath() }}"></div>
					<div class="content">
						<p class="title">{{ member.title }}, {{ member.position }}</p>
						<p class="bio">{{ member.memberBio }}</p>
					</div>
				</div>
			{% endfor %}	
		</div>	

	</div>
{% endblock %}

{% includeJsFile "./build/javascripts/modules/client_logos.js" %}
