{#
 # Books template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% set _nav_page = 'books' %}
{% set bookOverflowCSS %}
#content {
    overflow: initial;
}
#container {
	overflow: hidden;
}
{% endset %}

{% block main %}
	{% includeCss bookOverflowCSS %}

	<img src="./static/images/inkblots/IB_header_right.png" class="inkblot book-hero-inkblot right">

	<!-- hero section -->
	<div class="book_hero book_showcase">
	
		<div class="content">

			<div class="about_book">
				<h2 class="head">The airbrushed you isn't sustainable, or even half as awesome.</h2>
				<p class="book-title"><strong>Mentalligence:</strong><br> A New Psychology of Thinking (Learn What it Takes to be More Agile, Mindful and Connected in Today's World)</p>
				<p class="release-date">{{ craft.entries.section('bookPage')[0].mentalligenceCallToAction }}</p>
				<div class="actions">
					<button class="button primary dropdown">
						{{ craft.entries.section('bookPage')[0].mentalligenceButtonText }}
						<ul class="drop-menu">
							{% for link in craft.entries.section('mentalligenceBuyLinks').order('date asc') %}
								<a class="buy-link" href="{{ link.buyLink }}" target="_blank"><li>{{ link.seller }}</li></a>
							{% endfor %}
						</ul>
					</button>
					<a href="#" class="link excerpt-link">Read an excerpt <span class="float-arrow">→</span></a>
				</div>
			</div>

			<img src="./static/images/books/Mentalligence_bookcover_woShadow.png" class="img">

		</div>

	</div>

	<div class="section book_preview">
		<img src="./static/images/inkblots/IB_events_left.png" class="inkblot book-about-inkblot left">

		<div class="content">
			<h2 class="title">What is Mentalligence?</h2>
			<p class="text">
				{{ craft.entries.section('bookPage')[0].whatIsMentalligence|nl2br|raw }}
			</p>
		</div>

		{% if craft.entries.section('bookPage')[0].praiseForMentalligence | length %}
		<div class="content">
			<h2 class="title">Praise for Mentalligence</h2>
			{% for review in craft.entries.section('bookPage')[0].praiseForMentalligence %}
				<div class="review_item">
					<p class="text">{{ review.reviewText }}</p>
					<p class="author">- {{ review.reviewAuthor }}</p>
				</div>
			{% endfor %}
		</div>
		{% endif %}
	</div>

	<div class="section book_showcase inverse widder">
		<img src="./static/images/inkblots/IB_meet_left.png" class="inkblot book-reset-inkblot topright">
		<div class="inkblot-cutoff">
			<img src="./static/images/inkblots/IB_footer.png" class="inkblot book-reset-inkblot bottom">
		</div>

		<div class="content">

			<div class="about_book">
				<h2 class="head">About Reset</h2>
				<p class="body">
					{{ craft.entries.section('bookPage')[0].aboutReset|nl2br|raw }}
				</p>

				{% if craft.entries.section('bookPage')[0].praiseForReset | length > 0 %}
				<div class="reviews">
					{% for review in craft.entries.section('bookPage')[0].praiseForReset %}
						<div class="review_item">
							<p class="text">{{ review.reviewText }}</p>
							<p class="author">- {{ review.reviewAuthor }}</p>
						</div>
					{% endfor %}
				</div>
				{% endif %}

				<div class="actions">
					<button class="button primary dropdown">
						{{ craft.entries.section('bookPage')[0].resetButtonText }}
						<ul class="drop-menu">
							{% for link in craft.entries.section('resetBuyLinks').order('date asc') %}
								<a class="buy-link" href="{{ link.buyLink }}" target="_blank"><li>{{ link.seller }}</li></a>
							{% endfor %}
						</ul>
					</button>
				</div>
			</div>

			<img src="./static/images/books/Reset_bookcover_woShadow.png" class="img">

		</div>
	</div>
	
{% endblock %}


