{#
 # Events template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% set _nav_page = 'news' %}

{% block main %}
	<img src="./static/images/inkblots/IB_events_3.png" class="inkblot events-under-hero-inkblot">

	<div class="events-hero insert-background" image-url="./static/images/events/{{ craft.entries.section('eventPage')[0].heroImage[0].getPath() }}"></div>

	<div class="events_main section no-flex">

		<img src="./static/images/inkblots/IB_events_1.png" class="inkblot events-upcoming-inkblot top">
		<img src="./static/images/inkblots/IB_events_2.png" class="inkblot events-upcoming-inkblot bottom">
		<img src="./static/images/inkblots/IB_events_1.png" class="inkblot events-upcoming-inkblot overlap">

		<h3 class="mobile-pad">Events</h3>

		{% set upcomingEvents = craft.entries.find({
		    section: 'events',
		    date: '>= ' ~ now.w3cDate(),
		    order: 'date asc'
		}) %}

		{% verbatim %}
			<event-upcoming-list></event-upcoming-list>
		{% endverbatim %}
		
	</div>

	{% if craft.entries.section('eventPage')[0].carouselImages | length %}
	<div class="section no-flex past-events">

		<img src="./static/images/inkblots/IB_footer.png" class="inkblot events-past-inkblot top">

		<h3 class="mobile-pad">Past Events</h3>
		<div class="content">

			<div id="carousel">
				
				<div class="control back">
					<div class="arrow left"></div>
				</div>
				<div class="control next">
					<div class="arrow right"></div>
				</div>

				<div class="slide-deck siema">

					<!-- buffer slide -->
					<div class="slide buffer">
						<div class="image"></div>
					</div>

					{% for event in craft.entries.section('eventPage')[0].carouselImages %}
						<div class="slide">
							<div class="image insert-background" image-url="./static/images/events/{{ event.carouselImage[0].getPath() }}"></div>

							<div class="text">
								<p class="title">{{ event.title }}</p>
								<p class="subtitle"><strong>{{ event.date|date("m/d/y") }}</strong> <span class="dot"></span> <em>{{ event.location }}</em></p>
								<p class="description">
									{{ event.eventDescription }}
								</p>
							</div>
						</div>
					{% endfor %}

					<!-- buffer slide -->
					<div class="slide buffer">
						<div class="image"></div>
					</div>

				</div>

			</div>

		</div>
	</div>
	{% endif %}

	<div class="section no-flex booking-info">
		<img src="./static/images/inkblots/IB_footer.png" class="inkblot landing-resources-inkblot bottom">
		
		<img src="./static/images/inkblots/IB_events_1.png" class="inkblot events-booking-inkblot left">
		<img src="./static/images/inkblots/IB_events_1.png" class="inkblot events-booking-inkblot right">

		<div class="content">
			<p class="title">For all booking inquiries, please contact:</p>
			<p class="agent-name">Abbe Nasshan</p>
			<p class="agent-sub">Communications Director</p>
			<p class="agent-email"><a href="#">connect@kristenlee.com</a></p>
		</div>
	</div>

{% endblock %}

{% includeJsFile 'https://unpkg.com/vue@2.5.6/dist/vue.js' %}
{% includeJsFile 'https://code.jquery.com/jquery-3.2.1.min.js' first %}
{% includeJsFile "../src/javascripts/modules/events_vue.js" %}
{% includeJsFile "../src/javascripts/modules/siema.min.js" first %}
{% includeJsFile "../src/javascripts/modules/carousel.js" %}





