{#
 # Homepage template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% block main %}

	<img src="./static/images/inkblots/IB_header_left.png" class="inkblot hero-inkblot left">
	<img src="./static/images/inkblots/IB_header_right.png" class="inkblot hero-inkblot right">
	<img src="./static/images/inkblots/IB_meet_left.png" class="inkblot landing-about-inkblot left">
	<img src="./static/images/inkblots/IB_meet_right.png" class="inkblot landing-about-inkblot right">
	<img src="./static/images/inkblots/IB_events_left.png" class="inkblot landing-event-inkblot left">
	<img src="./static/images/inkblots/IB_events_right.png" class="inkblot landing-event-inkblot right">

	<!-- hero section -->
	<div class="landing_hero">
		<div class="hero_container">
			<h1 class="hero_quote"><span class="open_quote quote_top"></span>
			{% for entry in craft.entries.section('landingQuotes').limit(1) %}
				{{ entry.headingQuote }}
			{% endfor %}
			<span class="open_quote quote_bottom"</span></h1>

			<a href="./books">
				<button class="float_ad button primary">Check out Mentalligence!</button>
			</a>
		</div>
	</div>
	<div class="about_section section no-flex">

		<h3>Meet Dr. Kris</h3>

		<div class="img-text-wrapper">
			<div class="image-container">
				<div class="has-bot-banner">
					<img src="./static/images/drkris/landing-about.jpg" class="img">
				</div>
			</div>

			<div class="text-container">
				<h4 class="sub-section-title">Recovering perfectionist.</h4>
				<p>My biggest takeaway from spending the last twenty plus years as a clinician,
				educator, researcher and activist? That everything is learning and learning is
				everything. Lessons are always ours for the finding, if we stay woke. I live and
				breathe and eat and study human resilience, authenticity and identity. I’ve
				spent my entire life in a love/hate relationship with my anxiety, my one true
				frenemy.</p>
				<p>I write to teach, to cope, and to spur on change—to try to make sense of our
				complicated and gorgeous human condition. Mostly, this happens by
				rethinking and unlearning what we’re first sold.</p>
				<p class="link-para"><a href="./about" class="link teal">Read more →</a></p>
			</div>
		</div>

	</div>
	<div class="book_section section">

		<div class="text-container">
			<h3 class="title">Mentalligence</h3>

			<p class="general"><em>Mentalligence:</em> A new Psychology of Thinking: Learn What it Takes to be More Agile, Mindful and Connected in Today's World (2018)
			<br><br>
			<a href="./books" class="link white">Read more →</a>
			</p>

		</div>

		<div class="image-container float-book clearfix">
			<div class="inner-container">
				<div class="outline-box has-bot-banner blue opaque"></div>
				<img src="./static/images/books/Mentalligence_bookcover_woShadow.png" class="img">
				<img src="./static/images/inkblots/IB_meet_right.png" class="inkblot landing-book-behind left">
				<img src="./static/images/inkblots/IB_meet_left.png" class="inkblot landing-book-behind right">
			</div>
		</div>

	</div>

	<div class="news_section section no-flex">

		<h3>News and Events</h3>

		<div class="event_list">
			
			{% for entry in craft.entries.section('events').order('date asc').limit(3) %}
			
				<div class="event_entry">
					<div class="event_info">
						<p class="subtitle">{{ entry.title }}</p>
						<p>{{ entry.date }}</p>
						<p>{{ entry.location }}</p>
					</div>
					<p class="event_desc">{{ entry.eventDescription }}</p>
				</div>

			{% endfor%}
			
		</div>

		<button class="button black"><a href="./news" class="link">View All</a></button>

	</div>

	<div class="press_section section">
		<div class="press_grid">

			<div class="press_item">
				<div class="thumbnail"></div>
				<div class="content">
					<p class="title">An Article Wrote by Dr. Kris</p>
					<p class="pub-date">Huffington Post, Nov. 10, 2017</p>
					<p class="description">A description goes here. There is definitley quality content in this article.</p>
				</div>
			</div>

			<div class="press_item">
				<div class="thumbnail"></div>
				<div class="content">
					<p class="title">An Article Wrote by Dr. Kris</p>
					<p class="pub-date">Huffington Post, Nov. 10, 2017</p>
					<p class="description">A description goes here. There is definitley quality content in this article.</p>
				</div>
			</div>

			<div class="press_item">
				<div class="thumbnail"></div>
				<div class="content">
					<p class="title">An Article Wrote by Dr. Kris</p>
					<p class="pub-date">Huffington Post, Nov. 10, 2017</p>
					<p class="description">A description goes here. There is definitley quality content in this article.</p>
				</div>
			</div>

			<div class="press_item">
				<div class="thumbnail"></div>
				<div class="content">
					<p class="title">An Article Wrote by Dr. Kris</p>
					<p class="pub-date">Huffington Post, Nov. 10, 2017</p>
					<p class="description">A description goes here. There is definitley quality content in this article.</p>
				</div>
			</div>

		</div>
	</div>

	<div class="resources_section section no-flex">

		<h3>Resources</h3>

		<div class="resource_list">

			{% for entry in craft.entries.section('resources').order('date asc').limit(4) %}
				<div class="resource_item">
					<p class="subtitle">{{ entry.title }}</p>
					<p style="margin-bottom: 0.5rem">{{ entry.description }}</p>
					<p>{{ entry.postDate }}</p>
				</div>
			{% endfor %}
			
		</div>

		<a href="./resources" class="link teal">View All →</a>

	</div>
	
{% endblock %}

