{#
 # News template
 # ---------------
 #
 # When this template gets loaded, it will be because someone has accessed
 # http://yoursite.com/ (without any URI). Craft checks to see if you have
 # a Single section set to be the Homepage (as you do, by default), and
 # loads the section’s Template (this file). A special ‘entry’ variable
 # will already be set for you, assigned to the Homepage entry.
 #
 # It's worth noting that even if you didn't have a Homepage Single section,
 # as long as this template remains at craft/templates/index.html, it
 # would still be the one to get loaded when accessing http://yoursite.com/,
 # albeit without an ‘entry’ variable already set for you.
 #
 # See this page for more details on how Craft routes requests:
 # http://craftcms.com/docs/routing
 #}

{% extends "_layout" %}

{% set _nav_page = 'news' %}

{% block main %}
	
	<div class="press-banner black" id="press_hero">

		{% set topFeatured = craft.entries.section('pressPage')[0].topFeatured[0] %}

		<div class="featured-media">
			<a href="{{ topFeatured.linkToContent }}" target="_blank" class="overlay_link"></a>
			<div class="media_item insert-background {% if topFeatured.isVideo %}video{% endif %}" image-url="{{ topFeatured.thumbnailImageUrl }}"></div>
		</div>
		<div class="description">
			<img src="./static/images/inkblots/IB_events_left.png" class="inkblot landing-resources-inkblot press-banner-ink">
			
			<h3 class="title">{{ topFeatured.title }}</h3>
			<p class="subtitle">{{ topFeatured.publication }} on {{ topFeatured.publicationDate }}</p>
			<p class="info">{{ topFeatured.description }}</p>
		</div>

	</div>

	{% verbatim %}
		<press-written-grid></press-written-grid>
	{% endverbatim %}

	<div class="press-banner teal">

		{% set mentionedFeatured = craft.entries.section('pressPage')[0].mentionedInFeatured[0] %}

		<div class="category">
			<h2 class="title">Mentioned In</h2>
		</div>
		<div class="featured-media">
			<a href="{{ mentionedFeatured.linkToContent }}" target="_blank" class="overlay_link"></a>
			<div class="media_item insert-background" image-url="{{ mentionedFeatured.thumbnailImageUrl }}"></div>
		</div>
		<div class="description">
			<img src="./static/images/inkblots/IB_events_left.png" class="inkblot landing-resources-inkblot press-banner-ink">
			
			<h3 class="title">{{ mentionedFeatured.title }}</h3>
			<p class="subtitle">{{ mentionedFeatured.publication }} on {{ mentionedFeatured.publicationDate }}</p>
			<p class="info">{{ mentionedFeatured.description }}</p>
		</div>

	</div>

	{% verbatim %}
		<press-mentioned-grid></press-mentioned-grid>
	{% endverbatim %}

	<div class="press-banner blue">
		<div class="category">
			<h2 class="title">Videos &amp; Podcasts</h2>
		</div>

		{% set videoFeatured = craft.entries.section('pressPage')[0].videoPodcastFeatured[0] %}

		<div class="featured-media">
			<a href="{{ videoFeatured.linkToContent }}" target="_blank" class="overlay_link"></a>
			<div class="media_item video insert-background" image-url="{{ videoFeatured.thumbnailImageUrl }}"></div>
		</div>
		<div class="description">
			<img src="./static/images/inkblots/IB_events_left.png" class="inkblot landing-resources-inkblot press-banner-ink">

			<h3 class="title">{{ videoFeatured.title }}</h3>
			<p class="subtitle">{{ videoFeatured.publication }} on {{ videoFeatured.publicationDate }}</p>
			<p class="info">{{ videoFeatured.description }}</p>
		</div>

	</div>

	{% verbatim %}
		<press-media-grid></press-media-grid>
	{% endverbatim %}

{% endblock %}

{% includeJsFile 'https://unpkg.com/vue@2.5.6/dist/vue.js' %}
{% includeJsFile 'https://code.jquery.com/jquery-3.2.1.min.js' first %}
{% includeJsFile '../src/javascripts/modules/press_vue.js' %}
